NEXT_PUBLIC_SUPABASE_URL=https://lemprfdkpkbyyohtijou.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxlbXByZmRrcGtieXlvaHRpam91Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ0NTExOTgsImV4cCI6MjA5MDAyNzE5OH0.gEgAbNG3cEMb_S4GjR9LrDnPdjOiZSyWldZnYPAkdGk
SUPABASE_SERVICE_ROLE_KEY=your-service-role-key
NEXT_PUBLIC_SITE_URL=http://localhost:3000
